<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent">

  <mat-toolbar-row>
    <span>Agenda Electrónica</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/agenda/list']">Listar Agenda</button>
      <button mat-menu-item [routerLink]="['/usuario/nuevo']">Agregar Nuevo Elemento</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
