.example-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 70%;
}
.card {
  min-width: 70%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
table {
  width: 100%;
}
td, th {
  width: 25%;
}
.spinner-container {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.tab-actions {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
